<div class="container__clientepj">
  <div id="clientepj__barra-menu">
    <div class="clientepj__pesquisa-label">
      <input
        type="text"
        placeholder="Pesquisar..."
        [(ngModel)]="termoPesquisa"
        (keyup.enter)="carregarClientes()"
      />
    </div>
    <div class="clientepj__buttons">
      <div class="clientepj__buttons-button">
        <ale-button label="Cadastro" (click)="buttonClick()"></ale-button>
      </div>
    </div>
  </div>
  <div id="clientepj__container-tabela">
    <div class="container-tabela">
      <ale-table
        [colunasLabels]="colunasLabels"
        [colunas]="colunasProdutos"
        [dados]="listaClientespj"
        [tamanhosColunas]="tamanhosColunas"
        [formatoColunas]="formatoProdutos"
        [mostrarAcoes]="true"
        [mostrarEditar]="true"
        [mostrarExcluir]="true"
        (editar)="editarCliente($event)"
        (excluir)="excluirCliente($event)"
        (linhaClicada)="abrirVisualizacao($event)"
      ></ale-table>
    </div>
  </div>
</div>
<ale-modal-clientepj
  [title]="title"
  [visible]="mostrarModal"
  [clienteParaEditar]="clientepjEmEdicao"
  [somenteVisualizacao]="modoVisualizacao"
  (onClose)="fecharModal()"
></ale-modal-clientepj>

<!-- <ale-modal-clientepj
  [title]="title"
  [visible]="mostrarModal"
  (onClose)="mostrarModal = false"
  (onSave)="salvarClientepj($event)"
></ale-modal-clientepj> -->

<!-- (onSave)="salvarClientepj($event)" -->
<!-- (onSave)="fecharModal()" -->

<!-- <ale-modal-tarefas
          [visible]="mostrarModalEditar"
          [title]="'Editar Tarefa'"
          [tarefaParaEditar]="tarefaEmEdicao"
          [lista1]="prioridades"
          [lista2]="status"
          [lista3]="financeiro"
          (onClose)="fecharModal()"
          (onSave)="salvarTarefa($event)"
        >
        </ale-modal-tarefas> -->
