<div class="container__menu-bar" *ngIf="auth.estaLogado()" >
  <div class="container__menu-bar-logo">
    <a [routerLink]="''">
      <img src="assets/images/logo_rezende_contabilidade.jpg" alt="" />
    </a>
  </div>
  <div class="container__menu-bar-menus">
    <ul >
      <li *ngIf="estaNaHome"><a (click)="acessoRapido()">Acesso Rápido</a></li>
      <li><a [routerLink]="linkUrlTarefas">Tarefas</a></li>
      <li *ngIf="usuario?.perfil === 'admin'"><a [routerLink]="linkUrlFinanceiro">Financeiro</a></li>
    </ul>
  </div>
  <div class="container__menu-bar-sair">
    <nav *ngIf="usuario?.perfil === 'admin'">
      <a [routerLink]="'/cadastro'">
        <button class="btns btn-primary">+ Usuário</button>
      </a>
    </nav>
    <nav>
      <button class="btn" (click)="onSair()">Sair</button>
    </nav>
  </div>
</div>
<!-- *ngIf="usuario?.perfil === 'admin'" -->
