.container__menu-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #d8d6d7;
}

.container__menu-bar-logo {
  width: 20%;
  /* height: 100%; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container__menu-bar-logo > a > img {
  width: 40px;
  /* height: 100%; */
  object-fit: cover;
  border-radius: 50%;
}

.container__menu-bar-menus {
  width: 75%;
}

 .container__menu-bar-menus > ul {
  display: flex;
  flex-direction: row;
}

.container__menu-bar-menus > ul > li {
  /* margin-right: 30px; */
  list-style: none;
  /* color: black; */
  /* cursor: pointer; */
  /* transition: transform 0.4s; */
}

.container__menu-bar-menus > ul > li > a {
  color: black;
}
/* .container__menu-bar-menus > ul > */

.menu-bar__principal {
  display: block;
  padding: 10px 20px;
  cursor: pointer;
 width: max-content;
  white-space: nowrap;

}

.menu-bar__principal:hover {
  font-weight: bold;
  /* transform: scale(1.2); */
}

.container__menu-bar-sair {
  width: 15%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn {
  padding: 2px 30px;
  font-size: 1.1rem;
  border-radius: 25px;
  background-color: #b9b8b9;
  /* color: #fff; */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #9c9b9b;
}

/* .btns {
  padding: 2px 10px;
  width: 100px;
  font-size: 1.1rem;
  border-radius: 25px;
  background-color: #b9b8b9;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

}

.btns:hover {
  background-color: #9c9b9b;
} */

/* .has-submenu {
  position: relative;
}

.container__menu-bar-menus .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: max-content; /* 🔑 se ajusta ao conteúdo mais longo
  white-space: nowrap; /* 🔑 evita quebra de linha
  margin-top: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 999;
  padding: 0;
  list-style: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container__menu-bar-menus .submenu li {
  padding: 8px 12px;
}

.container__menu-bar-menus .submenu li a {
  display: block;
  color: #333;
  text-decoration: none;
}

.container__menu-bar-menus .submenu.open {
  display: block;
} */
