<div class="container__menu-bar">
  <div class="container__menu-bar-logo">
    <a [routerLink]="''">
      <img src="assets/images/logo_rezende_contabilidade.jpg" alt="" />
    </a>
  </div>
  <div class="container__menu-bar-menus">
    <ul>
      <li>
        <a [routerLink]="linkUrl">Cadastro</a>
      </li>
      <!-- <li><span>■</span></li> -->
      <li><a [routerLink]="linkUrl2">Cadastro Tarefas</a></li>
      <!-- <li><span>■</span></li> -->
      <!-- <li><a href="https://www.linkedin.com/in/alexandrefnas">Linkedin</a></li> -->
      <!-- <li><span>■</span></li> -->
      <!-- <li><a href="https://github.com/alexandrefnas">Github</a></li> -->
      <!-- <li><span>■</span></li> -->
      <!-- <li><a href="https://www.dio.me/users/alexandrefnas">DIO</a></li> -->
      <!-- <li><span>·</span></li> -->
    </ul>
  </div>
</div>
