:host {
  display: block;
  width: 100%;
}

div {
display: flex;
height: 70px;

}
 mat-form-field {
  width: 100%;
}

.custom-input input {
  font-size: 14px; /* Tamanho do texto*/
}

.custom-input mat-label {
  font-size: 14px;
}
