.container__cadastro-tarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 100px;
  height: 100vh;
}

.container__cadastro-form {
  display: block;
  flex-direction: column;
  align-items: center;
  width: 70vw;

  min-width: 500px;
  max-width: 600px;
  height: 380px;
  gap: 20px;

  /* padrão do windows */
  border: 3px solid #ccc;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #999;
  background-color: #e0e0e0;
  border-radius: 10px;
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
}

.title_container {
  padding: 15px;
  background: linear-gradient(to bottom, #2d89ef, #1b4f9c);
  color: white;
  padding: 6px 10px;
  font-weight: bold;
  border-bottom: 1px solid #666;
  text-shadow: 1px 1px 1px #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form__container-linha1,
.form__container-linha2,
.form__container-linha3,
.form__container-linha4 {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  gap: 5px;
  margin-bottom: 25px;
  padding: 15px;
  justify-content: center;
  /* background-color: aqua; */
}

.form__container-data {
  width: 25%;
}

.form__container-input {
  width: 50%;
}

.form__container-select {
  width: 20%;
}

.form__button{
  width: 100px;
}

#servico {
  width: 20%;
}

#cliente {
  width: 35%;
}

#quem {
  width: 35%;
}
#status {
  width: 20%;
}
#financeiro {
  width: 20%;
}
#valor {
  width: 25%;
}

