<div class="container">
  <div class="buttons">
    <ale-button
      class="button-cancelar"
      label="Cadastro"
      (click)="showModal = true"
      ></ale-button>
      <ale-modal-cadastro-tarefas
      *ngIf="showModal"
      [title]="'Confirmação'"
      message="'Deseja continuar?'"
      (onClose)="handleModalClose($event)"
      >
      <!-- [routerLink]="linkUrl" -->
    </ale-modal-cadastro-tarefas>
  </div>
  <div class="container__cadastro">
    <ale-table
      [colunasLabels]="colunasLabels"
      [colunas]="colunasProdutos"
      [dados]="dadosProdutos"
      [tamanhosColunas]="tamanhosColunas"
      [formatoColunas]="formatoProdutos"
      [mostrarAcoes]="true"
      (editar)="editarProduto($event)"
      (excluir)="excluirProduto($event)"
    ></ale-table>
  </div>
</div>
<!-- [label]="'Teste'" [min]="10" [max]="256" -->
