:host {
  display: block;
  width: 100%;
}

div {
display: flex;
height: 70px;
}

 mat-form-field {
  width: 100%;
}

.custom-select mat-select, mat-option {
  font-size: 14px; /* Tamanho do texto*/
}

.custom-select mat-label {
  font-size: 14px;
}
