<div class="container__home">
  <ale-chart-pie
    [data$]="graficoDados$"
    title="Tarefas por Prioridade"
    [legendShow]="false"
    legendColor="lightblue"
    [labelShow]="true"
    [colors]="[ '#ff0000', '#fff','#FFFF00']"
    [radius]="['30%', '80%']"
    corLabelFormatter="black"
    labelFormatter="{c}"
  ></ale-chart-pie>
</div>

<!-- labelFormatter="{b}: {c} unidades ({d}%)" -->
<!-- <div class="home__image">
  <a href=""><img id="logomarca-principal" src="" alt="" /></a>
</div> -->
<!-- <div>
  <ale-button
    class="button-cancelar"
    label="Teste"
    (click)="showModal = true"
  ></ale-button>
  <ale-modal-cadastro-tarefas
    *ngIf="showModal"
    [title]="'Confirmação'"
    message="'Deseja continuar?'"
    (onClose)="handleModalClose($event)"
  >
  </ale-modal-cadastro-tarefas>
</div> -->
<!-- <div class="home__content"> -->
<!-- <h1>Cheguei Brasil!</h1> -->
<!-- <p>Bem-vindo ao meu site!</p> -->
<!-- </div> -->
<!-- src="assets/images/arte_rezende_contabilidade.jpg" -->
<!-- src="https://media.istockphoto.com/id/517188688/pt/foto/paisagem-de-montanha.jpg?s=612x612&w=0&k=20&c=uFGUrUT6gA8FrTWhE10YYzngWPlDLssKxJiDs1Qw2Qs=" -->
