:host {
  display: flex; /* usa flexbox no host */
  justify-content: center; /* centraliza horizontalmente */
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 15px 40px;
  height: auto;
  background-color: rgb(233, 233, 230);
}

.container__menu-tabela {
  display: block;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding: 8px 5px 8px 5px;
  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #999;
}

.conatiner__menu-tabela-pesquisa {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

.conatiner__pesquisa-label {
  height: 40px;
  align-items: center;
  margin-left: 15%;
}

.conatiner__pesquisa-label > input {
  width: 60%;
  height: 35px;
  border-radius: 25px;
  padding-left: 35px;

  border: 1px solid #ccc; /* ✅ define borda fina e cinza */

  box-shadow: inset -1px -1px 0 #fff, inset 1px 1px 0 #999;

  outline: none; /* ✅ remove borda azul ao focar, opcional */
}

.container__tabela {
  width: 100%;
  height: 80vh;
  margin-top: 10px;
  overflow: auto;

}

.container__buttons {
  width: 100px;
  height: 25px;
  margin-left: 0;
  /* align-self: flex-end; */
  /* padding-bottom: 20px; */
  /* margin-bottom: 20px; */
}

#menu-tabela__buttons {
  display: flex;
  align-items: center;
  width: 20%;
  min-width: 200px;
  justify-content: center;
}

#menu-tabela__pesquisa {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  min-width: 500px;
}

#pesquisa__todos {
  display: flex;
  flex-direction: column;
  width: 15%;
  gap: 8px;
  min-width: 150px;
  margin-left: 20px;
}

#pesquisa__periodo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 75%;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#periodo__datas {
  width: 75%;
}

#pesquisa__buscaConfirma {
  align-items: center;
  justify-content: center;
  width: 70px;
  min-width: 30px;
}


