<div *ngIf="visible" class="modal-container" aria-modal="true">
  <div class="modal-backdrop" (click)="onBackdropClick()"></div>
  <div class="container__cadastro-tarefas">
    <div class="container__cadastro-form">
      <div class="title_container">
        <div class="title1">
          <h3>{{ title }}</h3>
        </div>
        <div class="title2">
          <button type="button" (click)="cancelar()">X</button>
        </div>
      </div>
      <form [formGroup]="cadastroTarefas" (ngSubmit)="salvar()">
        <div class="form__container-linha1">
          <div class="form__container-data">
            <ale-data-ale
              label="Data"
              type="data"
              formControlName="data"
              [required]="false"
              errorMessage="Campo obrigatório!"
            ></ale-data-ale>
          </div>
          <div class="form__container-select" id="servico">
            <ale-select-ale
              [label]="'Serviço'"
              [placeholder]="''"
              [niveis]="servicos"
              [formControl]="getControl('servico')"
              errorMessage=" "
            ></ale-select-ale>
          </div>
          <div class="form__container-select">
            <ale-select-ale
              [label]="'Alerta'"
              [placeholder]="''"
              [niveis]="lista1"
              [formControl]="getControl('prioridadeSelecionada')"
              [allowTyping]="false"
              [required]="false"
              errorMessage="Campo obrigatório"
            ></ale-select-ale>
          </div>
          <div class="form__container-input" id="cliente">
            <ale-input-ale
              label="Cliente"
              formControlName="cliente"
              [required]="false"
              errorMessage="Campo obrigatório"
            ></ale-input-ale>
          </div>
        </div>

        <div class="form__container-linha2">
          <div class="form__container-select" id="atividades">
            <ale-select-ale
              [label]="'Atividade'"
              [placeholder]="''"
              [niveis]="atividades"
              [formControl]="getControl('atividade')"
              [allowTyping]="true"
              [required]="false"
              errorMessage="Campo obrigatório"
            ></ale-select-ale>
          </div>
        </div>

        <div class="form__container-linha3">
          <div class="form__container-input" id="obs">
            <ale-input-ale
              label="Obs"
              formControlName="obs"
              [required]="false"
              errorMessage=" "
            ></ale-input-ale>
          </div>
          <div class="form__container-select" id="quem">
            <ale-select-ale
              [label]="'Quem'"
              [placeholder]="''"
              [niveis]="lista4"
              [formControl]="getControl('quem')"
              [required]="false"
              errorMessage="Teste "
            ></ale-select-ale>
          </div>
        </div>

        <div class="form__container-linha4">
          <div class="form__container-data">
            <ale-data-ale
              label="Data Conclusão"
              type="data"
              formControlName="dataConclusao"
              [required]="false"
              errorMessage="Campo obrigatório!"
            ></ale-data-ale>
          </div>
          <div class="form__container-select" id="financeiro">
            <ale-select-ale
              [label]="'Financeiro'"
              [placeholder]="''"
              [niveis]="lista3"
              [formControl]="getControl('financeiroSelecionada')"
              formControlName="financeiroSelecionada"
              [required]="false"
              errorMessage="Teste "
            ></ale-select-ale>
          </div>
          <div class="form__container-input" id="valor">
            <ale-input-decimal-ale
              label="Valor"
              formControlName="valor"
              [maskType]="'money'"
              [required]="false"
              errorMessage=" "
              (rawValueChange)="onRawValueChange($event)"
            ></ale-input-decimal-ale>
          </div>
        </div>

        <div class="form__container-linha5">
          <div class="form__button">
            <ale-button label="Salvar" type="submit"></ale-button>
          </div>
          <div class="form__button">
            <ale-button
              class="button-cancelar"
              label="Cancelar"
              (click)="cancelar()"
            ></ale-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
