/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: rgb(233, 233, 230);
  margin: 0;
  padding: 0;
}

body {
  /* width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center; */
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #111111; */
  /* color: white; */
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

a {
  text-decoration: none;
}

/* .button-cancelar {
  background-color: rgba(252, 87, 87, 0.781);
} */
