<table class="table">
  <thead>
    <tr>
      <th *ngFor="let coluna of colunas">
        <div [ngStyle]="{ width: tamanhosColunas[coluna] || 'auto' }">
          {{ colunasLabels[coluna] | titlecase }}
        </div>
        <!-- {{ coluna | titlecase }} -->
      </th>
      <th *ngIf="mostrarAcoes">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of dados"
      [ngClass]="{'linha-destacada1': destacarLinha1(item), 'linha-destacada2': destacarLinha2(item) }"
      >
      <td *ngFor="let coluna of colunas">
        <div [ngStyle]="{ width: tamanhosColunas[coluna] || 'auto' }">
          {{ formatarValor(item[coluna], formatoColunas[coluna] || "texto") }}
        </div>
      </td>
      <td *ngIf="mostrarAcoes">
        <div
          class="container__mostrar-acoes"
          [ngStyle]="{ width: tamanhosColunas['mostrarAcoes'] || 'auto', minWidth: '100px' }"
        >
          <div class="mostrar-acoes__button" *ngIf="mostrarEditar">
            <ale-button
              class="button"
              label="Editar"
              (click)="onEditar(item)"
            ></ale-button>
          </div>
          <div class="mostrar-acoes__button" *ngIf="mostrarExcluir">
            <ale-button
              class="button-cancelar"
              label="Excluir"
              (click)="onExcluir(item)"
            ></ale-button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- <button (click)="onEditar(item)">Editar</button>
<button (click)="onExcluir(item)">Excluir</button> -->
