:host {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table {
  /* display: block; */
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  font-size: 14px;
  color: #333;
}

th,
td {
  padding: 3px 7px;
  height: 30px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  text-transform: uppercase;
}

th {
  background: linear-gradient(to bottom, #282c31, #888c92);
  font-weight: 600;
  color: white;
}

td {
  cursor: default;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* ou outra cor de fundo */
  z-index: 1;
}

tr:hover {
  background-color: #f0f8ff; /* leve azul no hover */
}

.container__mostrar-acoes {
  display: flex;
  flex-direction: row;
  width: 100%; /* ocupa toda a largura da coluna */
  /* padding: 6px; */
  gap: 5px;
  justify-content: space-between; /* ou center/start, se preferir */
}

.mostrar-acoes__button {
  flex: 1 1 0;
  height: 21px;
  /* height: 26px; altura desejada */
  display: flex;
  align-items: center;
  justify-content: space-between; /* ou center/start, se preferir */
}

.linha-destacada1 {
  background-color: #ffcccc; /* Vermelho claro */
  font-weight: bold;
}

.linha-destacada2 {
  background-color: #ffff00;
  /* font-weight: bold; */
}

td a.link-dinamico {
  color: blue;
  text-decoration: underline;
}

td a.link-dinamico:hover {
  color: darkblue;
}

ale-button.button-editar,
ale-button.button-excluir {
  width: 100%;
  height: 40px; /* altura maior */
  font-size: 14px; /* fonte maior, se quiser */
  line-height: 40px; /* alinha o texto verticalmente */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

/* button:hover {
  background-color: #d0e0f0;
  border-color: #aaa;
} */
