:host {
  display: block;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

table {
  /* display: block; */
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  font-size: 14px;
  color: #333;
}

th,
td {
  padding: 7px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  text-transform: uppercase;
}

th {
  background: linear-gradient(to bottom, #282c31, #888c92);
  font-weight: 600;
  color: white;
}

.table thead th {
  position: sticky;
  top: 0;
  background-color: #fff; /* ou outra cor de fundo */
  z-index: 1;
}

tr:hover {
  background-color: #f0f8ff; /* leve azul no hover */
}

.container__mostrar-acoes {
  display: flex;
  flex-direction: row;
}

.mostrar-acoes__button {
  width: 60px;
  height: 25px;
}

.linha-destacada1 {
  background-color: #ffcccc; /* Vermelho claro */
  font-weight: bold;
}

.linha-destacada2 {
  background-color: #ffff00;
  /* font-weight: bold; */
}

/* .buttons {
  margin-right: 4px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  background-color: #e7e7e7;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  color: #333;
} */

/* button:hover {
  background-color: #d0e0f0;
  border-color: #aaa;
} */
