<div
  class="form-field"
  [class.focused]="isFocused || selectedValue || placeholder"
>
  <label class="form-label">{{ label }}</label>

  <ng-container *ngIf="allowTyping; else selectMode">
    <input
      class="form-input"
      [value]="selectedValue"
      (input)="onInputChange($event)"
      (focus)="isFocused = true; showOptions = true"
      (blur)="isFocused = false; onTouched()"
      (keydown)="onKeyDown($event)"
      (click)="toggleOptions()"
      [placeholder]="placeholder"
      [disabled]="disabled"
    />
    <!-- (blur)= "onBlur()" -->

    <ul *ngIf="showOptions && filteredOptions.length" class="options-dropdown">
      <li
        *ngFor="let option of filteredOptions"
        (mousedown)="selectOption(option)"
      >
        {{ option.label }}
      </li>
    </ul>
  </ng-container>

  <ng-template #selectMode>
    <select
      class="form-input"
      [ngModel]="selectedValue"
      (ngModelChange)="onSelectChange($event)"
      (keydown)="onKeyDown($event)"
      (focus)="isFocused = true"
      (blur)="isFocused = false; onTouched()"
      [disabled]="disabled"
    >
      <option [ngValue]="null" disabled hidden>{{ placeholder }}</option>
      <option
        class="list-format"
        *ngFor="let nivel of niveis"
        [ngValue]="nivel.value"
      >
        {{ nivel.label }}
      </option>
    </select>
  </ng-template>

  <div class="form-error" *ngIf="hasError() && !isFocused">
    {{ errorMessage }}
  </div>
</div>
